.bottom-section {
    .left {
        background-color: #ffffff;
        border-radius: 32px;
        text-align: center;
        padding: 2rem 1.6rem;
        height: 545px;

        .toggle-btn {
            .btn {
                font-weight: 600;
                font-size: 16px;

                &:focus {
                    box-shadow: 0 0 0 transparent;
                }
            }

            .selected {
                color: #14142B;
                position: relative;

                &::after {
                    content: "";
                    height: 8px;
                    width: 8px;
                    left: 50%;
                    bottom: -7px;
                    transform: translateX(-50%);
                    position: absolute;
                    display: block;
                    background-color: #000000;
                    border-radius: 50%;
                }
            }

            .unselected {
                color: #6E7191;
            }
        }

        .textarea {
            border-radius: 16px;
            padding: 0.8rem;
            background-color: #EFF0F6;
            border: 1px solid transparent;
            margin-top: 3rem;
        }
    }

    .right {
        background-color: #ffffff;
        border-radius: 32px;
        height: 128px;

        .right-top {
            padding: 2rem 1rem;

            .config-btn {
                width: 120px;
                height: 64px;
                border: 2px solid #D6D8E7;
                border-radius: 16px;
            }
        }

        .right-bottom-left {
            .watch {
                background-color: #ffffff;
                border-radius: 32px;
                padding: 1.5rem 0;

                button {
                    font-weight: 600;
                    color: #5F2EEA;
                }
            }

            .buttons {
                background-color: #ffffff;
                border-radius: 32px;
                padding: 1.5rem 0;

                .btn-custom {
                    border-radius: 16px;
                    font-weight: 600;
                    padding: 0.7rem 2.5rem;
                }

                .active {
                    background-color: #5F2EEA;
                    color: #ffffff;
                }

                .inactive {
                    background-color: #ffffff;
                    border: 2px solid #5F2EEA;
                    color: #5F2EEA;
                }
            }

            .people {
                background-color: #ffffff;
                border-radius: 32px;
                padding: 1.5rem 0;

                .first {
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                }

                .second {
                    height: 55px;
                    width: 55px;
                    border-radius: 20px;
                }

                .third {
                    height: 65px;
                    width: 65px;
                    border-radius: 20px;
                }

                .fourth {
                    height: 70px;
                    width: 70px;
                    border-radius: 16px;
                }
            }
        }

        .right-bottom-right {
            .card {
                border-radius: 32px;

                .card-img-top {
                    border-top-left-radius: 32px;
                    border-top-right-radius: 32px;
                }
            }
        }
    }
}