.right-top .MuiFilledInput-root {
    border-radius: 16px !important;
}

.right-top .MuiFilledInput-underline {
    height: 64px;
    margin-top: -8px;
}

.right-top .MuiFilledInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    border-bottom: 1px solid transparent !important;
    pointer-events: none;
}

.right-top .MuiFilledInput-underline:before:hover {
    border-bottom: 1px solid transparent !important;
}