.math-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3f51b5;
    font-size: 0.9rem;
}

.input-group button {
    height: 30px;
    width: 30px;
    border: 2px solid #3f51b5;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
}

.count {
    font-weight: 700;
    padding: 0 1.2rem;
}

.count-btn {
    padding-left: 0.8rem;
}