.middle-Section {
    .mailing-list {
        .mail-left {
            position: relative;
            background-color: #ffffff;
            border-radius: 32px;
            padding: 2.5rem 1.6rem;
            text-align: center;

            .close-icon {
                position: absolute;
                right: 2rem;
                top: 2rem;
                font-size: 1.2rem;
            }

            h3 {
                font-weight: 700;
                font-size: 2rem;
            }

            p {
                font-size: 1.2rem;
            }
        }


    }

    .mail-form {
        button {
            background-color: #5F2EEA;
            margin-left: 1rem;
            color: #FFFFFF;
            width: 80px;
            border-radius: 16px;
        }

        .form-control {
            height: 3.3rem;
        }

        input {
            border-radius: 16px;
        }
    }

    .various-inputs {
        .groups {
            background-color: #ffffff;
            border-radius: 32px;
            padding: 2.5rem 1.6rem;
        }
    }

}